
.movie{width:100%;}
.movieRemark{border-bottom: solid 1px #000; background-color: #f1f1f1; padding: 20px 5px 20px 30px;}
.movieRemark .content{margin-top: 10px; width: 100%}
.movieRemark .bottom{margin-top: 20px;}
.movieRemark .bottom img{margin-right:5px;position: relative;top:6px;}

.message{font-size: 35px; margin: 30px 0px 5px;}
.messageRemark{background-color: #ff9999; padding: 10px;}
.messageRemark div{display: inline-block}
.messageRemark div img{margin: 20px 20px;}
.messageRemark div ul li{margin: 5px auto}

.messageMiddle{margin: 10px 0px; color: #ff3333}

.messageBottom .messageBoard{background-color: #f1f1f1; width: 10%; padding: 20px 20px 20px 50px; display: inline-block;}
.messageBottom .messageBoard a{color: red;}
.messageBottom .messageBoard a span{color: #000}
.messageBottom div{display: inline-block}


@media screen  and  (max-width: 1500px) {
    .movie{width:100%; }
}


